<div class="hero-unit">
<h1 class="text-info">Registrar</h1>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors resource %>
  <%= f.input :name, :label => 'Nombres y apellidos completos', :autofocus => true %>
  <%= f.input :email, :label => 'Correo electrónico', :required => true %>
  <%= f.input :password, :label => 'Contraseña', :required => true %>
  <%= f.input :password_confirmation, :label => 'Confirmar contraseña', :required => true %>
  <%= f.button :submit, 'Registrarse', :class => 'btn-primary' %>
<% end %>
<%= render "devise/shared/links" %>
</div>
