<div class="hero-unit">
	<h1 class="text-info">Temario</h1>
	<div class="row-fluid">
		<table class="table">
			<thead>
				<tr>
					<th>Temas</th>
					<th>Descripción</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<div class="span3">
						<%= image_tag("seguridad.png")%>
						</div>
					</td>
					<td>
						<div class="span9">
						<li>
						Los beneficios no sólo se ven reflejados en la parte técnica y operacional de la organización, sino en
						organizaciones o empresas donde sus actividades repercuten de forma directa en el cliente, los beneficios
						reflejan una buena imagen y reputación corporativa que en ocasiones es más valiosa que las mismas pérdidas
						económicas, por ejemplo los bancos, a quienes les importa demasiado la imagen que ofrecen al cliente
						</li>
						</div>						
					</td>
				</tr>
				<tr>
					<td>
						<div class="span3">
						<%= image_tag("seguridad.png")%>
						</div>
					</td>
					<td></td>
				</tr>
				<tr>
					<td>
						<div class="span3">
						<%= image_tag("seguridad.png")%>
						</div>
					</td>
					<td></td>
				</tr>
				<tr>
					<td>
						<div class="span3">
						<%= image_tag("seguridad.png")%>
						</div>
					</td>
					<td></td>
				</tr>
				<tr>
					<td>
						<div class="span3">
						<%= image_tag("seguridad.png")%>
						</div>
					</td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="inscripcion">
	<p><%= link_to "Reservar cupón",new_persona_path, :class => 'btn btn-primary'%></p>
</div>
