<div class="hero-unit">
<h1 class="text-info">Asistentes al HackDay Tacna</h1>
<h4>Total de personas inscritas: <%= @totalpersona%></h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Celular</th>
      <th>Institución</th>
      <th>Conferencia</th>
      <th>Ocupación</th>      
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @personas.each do |persona| %>
      <tr>
        <td><%= persona.nombres %></td>
        <td><%= persona.apellidos %></td>
        <td><%= persona.celular %></td>
        <td><%= persona.institucion%></td>
        <td><%= persona.conferencia %></td>
        <td><%= persona.estudio.nombre %></td>        
      </tr>
    <% end %>
  </tbody>
</table>
</div>
