<div class="hero-unit">
	<h1 class="portada">HACKDAY TACNA</h1>
	<h2 class="portada">07-08 de septiembre del 2013</h2>
	<div class="row-fluid">
	<!-- <div class="span12"> -->
		<ul class="thumbnails">
				<li>
				<!---carusel inico .......................... -->
				<div id="myCarousel" class="carousel slide">
					<ol class="carousel-indicators">
						<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel" data-slide-to="1"></li>
						<li data-target="#myCarousel" data-slide-to="2"></li>
					</ol>
					<!-- Carousel items -->
					<div class="carousel-inner">
						
						<div class="active item">
							<div class="resize">
							<%= image_tag("logo.png", size:"800x800")  %>
							</div>
							<div class="carousel-caption">
								<h4>Seguridad de la información</h4>
								<p>UN EVENTO NETAMENTE SOBRE SEGURIDAD DE INFORMACIÓN.</p>																
							</div>
						</div>
						<div class="item">
							<div class="resize1">
								<%= image_tag("d.png", size:"800x800") %>
							</div>
							<div class="carousel-caption">
								<h4>Titulo imagen 2</h4>
								<p>descripcion 3, Anim pariatur cliche reprehenderit</p>
							</div>				
						</div>
						<div class="item">
							<div class="resize2">
							<%= image_tag("c.jpg", size:"800x800") %>
							</div>
							<div class="carousel-caption">
								<h4>Titulo imagen 3</h4>
								<p>descripcion 3, Anim pariatur cliche reprehenderit</p>
							</div>
						</div>			
					</div>
					<!-- Carousel nav -->
					<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
					<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
				</div>		
			<!--- Carsel end........................................................................... -->					
			</li>
		</ul>
	</div>
	<div class="row-fluid">
		<ul class="span6">
			<h2 class="text-info">Nuestro objetivo: </h2>
			<!-- <ol> -->
				<ol>
					<li>Brindar a los participantes conocimientos adecuados acerca del Ethical Hacking</li>
					<li>Explicar las metodologías y procedimientos asociados a pruebas de Ethical Hacking.</li>
					<li>Realizar talleres prácticos de penetración de sistemas que brinde al participante escenarios reales de ataques de Hacking.</li>
				</ol>				
			<!-- </ol> -->			
		</ul>
		<ul class="span6">
			<h2 class="text-info">Dirigido a:</h2>
			<ol>
				<li>Estudiantes de Ingenieria De Sistemas, Computación, Informática y afines.</li>
				<li>Gerentes de Tecnologías de Información</li>
				<li>Administradores de infraestructuras tecnológicas (redes y servidores) </li>
				<li>Desarrolladores de aplicaciones y administradores de Base de Datos.</li>
			</ol>			
		</ul>
		<!--- <ul class="span4">
			<h2 class="text-info">Lugar</h2>	
			<ol>
				<p>Auditorio de la Escuela de Industrias Alimentarias.</p>
			</ol>
		</ul> -->
		<ul class="span12">
			<h2 class="text-info">PONENTE</h2>
			<div class="row-fluid">
				<div class="span3">
					<ol class="text-center"><%= image_tag("palomino.jpg")%></ol>
					<ol class="ponente"><p>Omar Martín Palomino Huamaní</p></ol>
				</div>
				<div class="span9">
					<p class="descripcion">
					Ingeniero de Sistemas, con una maestría culminada en Computación y Sistemas de la Universidad San Martín de Porres (USMP) en Perú y consultor de seguridad informática. Con más de 06 años de experiencia en seguridad de información trabajando para empresas del sector financiero y de seguros en Perú. 
					Autor y escritor del blog <a charset="utf-8" href="http://www.el-palomo.com">www.el-palomo.com</a> donde comparte conocimientos de seguridad informática y de información de manera abierta y fácil para todos. 
					<h3>EXPERIENCIA INSTRUCTIVA</h3>
					</p>
					<ol>						
						<li>Empresa: KUNAK Consulting SAC - Perú</li>
						<ul>Tiempo: 2012 – Actualidad</ul>
						<li>Empresa: I-SEC Information Security Inc. Perú</li>
						<ul>Tiempo: 2011 – Actualidad</ul>												
					</ol>
					<h3>CERTIFICADOS INTERNACIONALES</h3>
					<ol>
						<li>CEHv7 (Certified Ethical Hacker)</li>
						<li>CEHv6, (Certified Ethical Hacker)</li>
						<li>CPTE (Penetration Testing)</li>
						<li>Security +</li>
						<li>ITIL Foundation v3</li>		
					</ol>					
				</div>				
			</div>
		</ul>
	</div>
	<div class="inscripcion">
		<h2>Vacantes limitadas</h2>
			<p>TE esperamos</p>
			<p><%= link_to "Reservar cupón",new_persona_path, :class => 'btn btn-primary'%></p>
	</div>
</div>


