<div class="hero-unit">
<h1>Iniciar sesión</h1>
<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
  <%= f.input :email, :label => 'Correo electrónico', :autofocus => true %>
  <%= f.input :password, :label => 'Contraseña' %>
  <%= f.button :submit, "Iniciar", :class => 'btn-primary' %>
<% end %>
<%= render "devise/shared/links" %>
</div>
