<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Hackday" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Hackday" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <div class="navbar navbar-fixed-top navbar-inverse">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </div>
    <div id="main" role="main">
      <div class="container">
        <div class="content-fluid">
           <div class="row-fluid"> 
            <div class="span12">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
    <footer>
	<div class="row-fluid">
		<div class="span2"><%= image_tag("unjbg.png")%></div>
		<div class="span8">
			<div class=class="wrapper">		
					<h4>INFORMES E INSCRIPCIONES:</h4>
					<p>ESCUELA ACADÉMICO PROFESIONAL DE INGENIERÍA EN INFORMÁTICA Y SISTEMAS</p>
					<p>FACULTAD DE INGENIERÍA</p>
					<p>CEL: 952802448, 952949785, 952500964</p>
					<p>Email: hacktacna@gmail.com, ciistacna.unjbg@gmail.com</p>
					<p>Te puede interesar también:</p>
					<p><%= link_to "Página web ciis: www.ciistacna.com","http://www.ciistacna.com" %></p>
					<p><%= link_to "Facebook ciis: http://www.facebook.com/ciistacna","Facebook: www.facebook.com/ciistacna" %></p>
					</br>							
					<p>Universidad Jorge Basadre Grohmann</p>
					<p>Tacna-Perú</p>
			</div>
		</div>	
		<div class="span2"><%= image_tag("ciis.png")%></div>
	</div>			  
    </footer>
  </body>
</html>

